body{
    margin: 0px;
    background-color: rgb(184, 175, 175);
}
h1{
    color:blue;
}

.navbar{
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 20px;
    text-align: center;
    background-color: white;
}
.navbar a{
    padding: 20px;
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    color: blue;
    background-color: aqua;
    
}
.card{
    border: 0.5px solid black;
    width: 350px;
    border-radius: 30px;
    text-align: center;
    margin-top: 70px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: white;

}
.card img{
    /* width: 300px; */
    width: 100%;

}
.card button{
    padding: 10px;
    width: 80%;
    border-radius: 8px;
    border-style: black;

}